<%- include("header") -%>
<div class="container">
<div class="box">
  <h1 class="card date"><%= fullDate %></h1>
  <h1 class="card heading"><%= listItem %></h1>


<div class="card">
  <% newItem.forEach((eachItem)=>{ %>
  <form action="/delete" method="post">
    <div class="item">
      <input
        type="checkbox"
        name="checkbox"
        value="<%= eachItem._id %>"
        onchange="this.form.submit()"
      />
      <p><%= eachItem.name %></p>
    </div>
  </form>
  <% }) %>
  <form class="item" action="/" method="post">
    <input
      type="text"
      name="item"
      placeholder="Enter the item name"
      autocomplete="off"
    />

    <button type="submit" value="<%= listItem %>" name="list">+</button>
  </form>
</div>
<div class="card">
  <a href="/" class="links">Go to Home</a>
</div>
</div>
</div>
